<header class="header">
  <div class="header-container">
    <a href="index.html" class="logo">
      <img src="images/solid.svg" alt="Silicon" />
    </a>

    <div class="header-actions">
      <div class="dark-mode">
        <span>Dark Mode</span>

        <label class="switch">
          <input type="checkbox" />
          <span class="slider"></span>
        </label>
      </div>

      <a href="#" class="sign-in">
        <img src="images/icon-l.png" alt="" />
        <span>Sign in / up</span>
      </a>
    </div>
  </div>
</header>
