<main>
  <section class="hero">
    <div class="hero-content">
      <h1>
        Manage All Your<br />
        Money in One App
      </h1>

      <p>
        We offer you a new generation of mobile banking. Save, spend & manage
        money in your pocket.
      </p>

      <div class="app-buttons">
        <a href="#">
          <img src="images/appstore.png" alt="Download on the App Store" />
        </a>

        <a href="#">
          <img src="images/googleplay.png" alt="Get it on Google Play" />
        </a>
      </div>
    </div>

    <div class="hero-images">
      <img src="images/image.svg" alt="Mobile banking app" class="phone" />
    </div>
  </section>
</main>
